<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
      <div class="module drone no-padding" v-bind:class="{ active: audio.initialized }">
        <h2>drone</h2>
        <div class="params no-padding">
          <div v-for="(value, key) of drone.params" class="param" v-bind:class="{ active: isParamActive('drone', key) }">{{ key }}: {{ value }}</div>
        </div>
        <div class="voices no-padding deactivated">
          <!-- <div v-for="key of drone.keys">
            {{ key }}
          </div> -->
          <div v-for="voice of voices" v-if="voice.type === 'voice'" class="voice" v-bind:class="{ active: isKeyActive(voice.key) }">
            <div>{{ voice.key.toUpperCase() }}</div>
            <div class="note">{{ voice.note }}</div>
          </div>
          <div v-else-if="voice.type === 'space'" class="space"></div>
          <div v-else-if="voice.type === 'break'" class="break">
            <br><br>
          </div>
        </div>      
      </div>
      
      <div class="module audio-player no-padding" v-bind:class="{ active: audio.initialized }">
        <h2>audio player</h2>
        <div class="params no-padding">
          <div v-for="(value, key) of audioPlayer.params" class="param" v-bind:class="{ active: isParamActive('audioPlayer', key) }">{{ key }}: {{ value }}</div>
        </div>
        <div class="files no-padding">
          <div v-for="file of audioPlayer.files" class="file" v-bind:class="{ active: file.active }" v-on:click="playFile(file)">
            {{ file.name }}
          </div>
          <div v-if="audioPlayer.files.length === 0">
            drop some audio files onto this window
          </div>
        </div>
      </div>
      
      <div class="modal start" v-bind:class="{ active: modal.name === 'start' }">
        <p>press any key or drop some audio files here to start</p>
        <ul>
          <li>press "ASDFJKL;" to play the drone</li>
          <li>drop some audio files and click them to play them in a loop</li>
          <li>press tab to cycle through selected params and "&uarr; &darr; &rarr; &larr;" to change their values</li>
        </ul>
      </div>
      <div class="modal initializing" v-bind:class="{ active: modal.name === 'initializing' }">
        <p>initializing...</p>
      </div>
      <div class="modal drop" v-bind:class="{ active: modal.name === 'drop' }">
        <p class="center">drop audio files</p>
      </div>
    </div>

    <script src="assets/vue.js"></script>
    <script src="assets/tonal.min.js"></script>
    <script src="assets/reverb.js"></script>
    <script src="audio.js"></script>
    <script src="index.js"></script>
  </body>
</html>